:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #b3b3b3;
  text-decoration: none;
  transition: all linear 0.15s;
}
a:hover {
  color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  font-style: italic;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
}

.navbar-container {
  display: flex;
  width: 100%;
}

li a {
  padding: 8px;
  background-color: #0e0e0e;
  float: left;
}

.about {
  padding-top: 24px;
}

.predict {
  margin-right: auto;
  padding-top: 24px;
}

.login {
  float: right;
  padding-top: 24px;
  padding-right: 24px;
}

.home-predict {
  width: 100%;
}

.glow {
  padding: 0;
  will-change: filter;
  transition: filter 500ms;
}
.glow:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.glow.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.home-predict {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.at {
  padding-top: 64px;
}

.top-dropdown {
  margin: auto;
  text-align: center;
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  z-index: 9;
  font-size: 20px;
}

.top-dropdown:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.bottom-dropdown {
  margin: auto;
  text-align: center;
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

.bottom-dropdown:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
} 

.predict-button {
  margin-top: 64px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all linear 0.3s;
}
button:hover {
  border-color: #ffffff;
  background: rgb(54, 54, 54);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a button {
  margin-top: 64px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
