:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #b3b3b3;
  text-decoration: none;
  transition: all linear 0.15s;
}
a:hover {
  color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  font-style: italic;
  padding: 0;
}

h2 {
  font-size: 1.65em;
  font-style: italic;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
}

.navbar-container {
  display: flex;
  width: 100%;
}

li a {
  padding: 8px;
  background-color: #0e0e0e;
  float: left;
}

.about {
  padding-top: 24px;
}

.predict {
  margin-right: auto;
  padding-top: 24px;
}

.logout {
  float: right;
  padding-top: 24px;
  padding-right: 24px;
}

.is-visible {
  opacity: 1;
}

.login-container {
  margin-top: 10%;
  width: 100%;
}

.register {
  float: right;
  padding-top: 24px;
  padding-right: 24px;
}

.home-content {
  width: 100%;
  margin-top: 60vh;
  padding: 20px;
}

.fade {
  animation: fadeIn 1.5s;
}

.fade-delay {
  animation: fadeIn 1.5s 1s forwards;
  opacity: 0;
}

.about-desc {
  animation: fadeIn 1.5s 1s forwards;
  opacity: 0;
  width: 70%;
  margin: auto;
  text-align: center;
}

.home-desc {
  animation: fadeIn 1.5s 1s forwards;
  opacity: 0;
  width: 70%;
  margin: auto;
  text-align: center;
}

.desc {
  animation: fadeIn 1.5s 1s forwards;
  opacity: 0;
  color: #969696;
  padding-bottom: 2%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home-title {
  float: left;
  width: 60%;
  height: 100%;
}

.container {
  padding: 20px;
  margin-top: 8%;
}

.home-right {
  animation: fadeIn 1.5s 2s forwards;
  opacity: 0;
  width: 40%;
  float: right;
  height: 100%;
}

.title {
  font-size: 80px;
  padding: 0;
  margin: 0;
  will-change: filter;
  transition: filter 500ms;
}

.title:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.title.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.glow {
  padding: 0;
  will-change: filter;
  transition: filter 500ms;
}
.glow:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.glow.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.home-predict {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.at {
  padding-top: 64px;
}

.top-dropdown {
  margin: auto;
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  z-index: 9;
  font-size: 20px;
}

.top-dropdown:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.bottom-dropdown {
  margin: auto;
  text-align: center;
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

.bottom-dropdown:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
} 

.predict-button {
  margin-top: 64px;
}

.loading {
  font-size: 32px;
  color: #b3b3b3;
  text-decoration: none;
  animation: fade linear infinite 2s;
}

.login {
  margin-top: 5%;
}

.login-email {
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 6px;
  font-size: 20px;
}

.login-password {
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 6px;
  margin-top: 64px;
  font-size: 20px;
}

.register-button {
  animation: none;
  opacity: 1;
  margin: auto;
  margin-top: 12%;
  position: relative;
}

.login-account {
  margin-top: 2%;
}

.register-password {
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 6px;
  margin-top: 48px;
  font-size: 20px;
}

.register-confirm {
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 6px;
  margin-top: 96px;
  font-size: 20px;
}

.register-email {
  width: 30%;
  transition: all linear 0.3s;
  border: 1px solid;
  border-color: #292929;
  background-color: #0e0e0e;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 6px;
  margin-top: 0px;
  font-size: 20px;
}

.register-email:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.register-password:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.register-confirm:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.login-email:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
} 

.login-password:hover {
  cursor: pointer;
  color: #fff;
  border-color: #c0c0c0;
}

.login-button {
  animation: none;
  opacity: 1;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

.register-account {
  margin-top: 2%;
}

.predict-instr {
  color: #969696;
  font-size: 18px;
}

.winner {
  font-size: 32px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

button {
  animation: fadeIn 1.5s 1.5s forwards;
  opacity: 0;
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #111111;
  cursor: pointer;
  transition: all linear 0.3s;
}

button:hover {
  border-color: #ffffff;
  background: rgb(54, 54, 54);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a button {
  margin-top: 64px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
